# Build / tooling
/bazel-*
/example/bzlmod/bazel-*
/example/workspace/bazel-*
/sandbox/*
.cache
.scala-build
.metals
.bsp

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Editor backup / swap
*~
*.swp
*.swo
