# EngFlow remote cluster configuration
build:engflow --remote_instance_name=gazelle_cc
build:engflow --remote_cache=grpcs://opal.cluster.engflow.com
build:engflow --bes_instance_name=gazelle_cc
build:engflow --bes_backend=grpcs://opal.cluster.engflow.com
build:engflow --bes_results_url=https://opal.cluster.engflow.com/invocations/gazelle_cc/

# Add authentication flags to this file, not checked in.
try-import .bazelrc.user
