name: CI

on:
  pull_request:
  push:
    branches:
      - main 

concurrency:
  group: ci-${{ github.head_ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      # Keep in sync with configurations in .bcr/presubmit.yml. We cannot run
      # those tests in CI: they are post-release only. So we need to cover the
      # same configurations here.
      matrix:
        os: [ubuntu-24.04, macos-26]
        # "" means use the version in .bazelversion. Add 8.x if that changes.
        bazel-version: ["", "7.x", "last_rc"]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    env:
      USE_BAZEL_VERSION: ${{ matrix.bazel-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          bazel build //...
      - name: Test
        run: |
          bazel test --test_output=errors //...
  
  test-indexers:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v4
    - name: Install Conan
      run: |
        python3 -m pip install --upgrade pip
        pip install conan
    - name: Execute manual integration tests
      run: bazel test --test_output=errors //index:integration_tests
          
  test-e2e:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v4  
    - name: Execute end to end tests
      run: bash .github/workflows/test_e2e.sh
          
  license-headers:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - run: ./scripts/license_check.sh 
