name: CI

on:
  pull_request:
  push:
    branches:
      - main 

concurrency:
  group: ci-${{ github.head_ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      # Keep in sync with configurations in .bcr/presubmit.yml. We cannot run
      # those tests in CI: they are post-release only. So we need to cover the
      # same configurations here.
      matrix:
        os: [ubuntu-24.04, macos-26]
        # "" means use the version in .bazelversion. Add 8.x if that changes.
        bazel-version: ["", "7.x", "last_rc"]
        include:
          - bazel-version: "last_rc"
            extra-flags: [
              "--",
              # Exclude cc_grpc_library_compilation; "grpc" Bazel module is not
              # yet compatible with Bazel 9.
              "-//language/cc/testdata:cc_grpc_library_compilation",
            ]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    env:
      USE_BAZEL_VERSION: ${{ matrix.bazel-version }}
      EXTRA_FLAGS: ${{ join(matrix.extra-flags, ' ') }}
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          bazel build //... $EXTRA_FLAGS
      - name: Test
        run: |
          bazel test --test_output=errors //... $EXTRA_FLAGS

  # Imitate the BCR test in .bcr/presubmit.yml. Keep in sync.
  bcr_test_module:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-26]
        bazel-version: ["7.*", "8.*", "9.*"]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    env:
      USE_BAZEL_VERSION: ${{ matrix.bazel-version }}
    defaults:
      run:
        working-directory: "example/bzlmod"
    steps:
      - uses: actions/checkout@v4
      - name: Run Gazelle
        run: "bazel run //:gazelle"
      - name: Build
        run: "bazel build //..."
      - name: Test
        run: "bazel test //..."

  test-indexers:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v4
    - name: Install Conan
      run: |
        python3 -m pip install --upgrade pip
        pip install conan
    - name: Execute manual integration tests
      run: bazel test --test_output=errors //index:integration_tests
          
  test-e2e:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v4  
    - name: Execute end to end tests
      run: bash .github/workflows/test_e2e.sh
          
  license-headers:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - run: ./scripts/license_check.sh 
